.container {
    margin: auto;
    display: block;
    width: 800px;
}

.container.units {
    position: fixed;

}

ul {
    list-style: none;
    margin: 0;
    padding-left: 10px;
}

#submit {
    padding-right: 10px;
}

h6 {
    font-size: 50px;
}

.currenttemp {
  font-size: 50px;
  line-height: 3;
  padding-left: 10px;
  padding-top: 10px;
}

.units {
    padding-left: 20px;
    font-size: 20px;
}

.weather-forecast {
    margin-left: 10px;
    text-align: center;

}

.weather-forcast-date{
    font-size: 16px;
    opacity: 0.8;
    padding-bottom: 5px;


}

.weather-forecast-temperature-min {
    opacity: 0.6;
}